ALTER TABLE public.pets ADD COLUMN IF NOT EXISTS breed TEXT; ALTER TABLE public.pets ADD COLUMN IF NOT EXISTS neutering_date DATE;
ALTER TABLE public.owners ADD COLUMN IF NOT EXISTS email TEXT;
ALTER TABLE public.pets ADD COLUMN IF NOT EXISTS microchip TEXT;
